.vc_edit_form_elements .textarea_raw_html {
	height: 60px;
}
.term-meta-color-block {
	width: 30px;
	height: 30px;
	display: block;
}
.rt_category_image img {
	width: 50px;
	height: 40px;
	object-fit: cover;
}
.category-image .category-image img {
	width: 120px;
}
.category-image .category-image-wrap {
	position: relative;
	display: inline-block;
	border: 1px solid #e5e5e5;
	margin-bottom: 15px;
}
.category-image .category-image-wrap button {
	position: absolute;
	top: 0;
	right: 0;
}

div.icon-wrapper > span {
	margin-right: 10px;
}
.select2-results__option[aria-selected] {
	margin-bottom: 0;
}
[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after {
	font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.radio-button-label {
	display: inline-flex;
	margin-bottom: 15px;
}
.radio-button-label:last-child {
	margin-bottom: 0;
}

#customize-controls h3.accordion-section-title {
	color: #161f38;
	font-size: 15px;
}
#customize-controls .customize-control-heading > h3 {
	color: #161f38;
	font-size: 16px;
    border-bottom: 1px solid #ddd8d8;
    padding-bottom: 10px;
}
#customize-controls .control-section .accordion-section-title:focus, 
#customize-controls .control-section .accordion-section-title:hover, 
#customize-controls .control-section.open .accordion-section-title, 
#customize-controls .control-section:hover>.accordion-section-title {
    color: #0069ff;
    background: rgba(0, 105, 255, 0.08);
    border-left-color: #0069ff;
}
#customize-outer-theme-controls .control-section .accordion-section-title:focus:after, 
#customize-outer-theme-controls .control-section .accordion-section-title:hover:after, 
#customize-outer-theme-controls .control-section.open .accordion-section-title:after, 
#customize-outer-theme-controls .control-section:hover>.accordion-section-title:after, 
#customize-theme-controls .control-section .accordion-section-title:focus:after, 
#customize-theme-controls .control-section .accordion-section-title:hover:after, 
#customize-theme-controls .control-section.open .accordion-section-title:after, 
#customize-theme-controls .control-section:hover>.accordion-section-title:after {
    color: #0069ff;
}
.view-rate-title.opened,
.cmb2-before-row-header{
	background-color: #384bff;
}
.cmb-type-address .address_block > div,
.cmb-type-discount .discount,
.cmb-type-discount .discount_date {
	margin-bottom: 15px;
}
.cmb2-wrap li,
.cmb-type-tax-children-multicheck .term_item{
	margin-bottom: 12px;
}
body .ui-widget.ui-datepicker {
	z-index: 999999999 !important;
}