.listing-filter-btns .rt-color-track{
    right: auto;
    left: -1px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: none;
}
.rt-slide-nav .offscreen-navigation ul li>a::before,
.footer-top-area .corporate-address li i::before{
    transform: rotate(-145deg);
}
.rt-testimonial-default .item-content .tquote svg,
.rt-service-location-slider .topDestinationNav .swiper-button-next i,
.rt-service-location-slider .topDestinationNav .swiper-button-prev i{
    display: inline-block;
    transform: rotate(-180deg);
}
.rt-slide-nav .offscreen-navigation ul li>a::before,
.footer-top-area .corporate-address li i::before {
    transform: rotate(-177deg);
    top: 12px;
}